@tailwind base;
@tailwind components;
@tailwind utilities;

.textAnimation {
  -webkit-text-stroke: 5px #efefef;
}

.textAnimation::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(#ecbd00, #6a4b00);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0px #efefef;
  border-right: 2px solid #ecbd00;
  overflow: hidden;
  animation: animate 6s linear ease-in-out;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.flipcard {
  perspective: 1000px;
}

.card {
  transform-style: preserve-3d;

  transition: transform 1000ms;
  user-select: none;
  cursor: pointer;
}

/* .card:hover {
  transform: rotateY(180deg);
} */

.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-front {
  background: #000;
}
.card-back {
  background: #ecbd00;
  transform: rotateY(180deg);
}

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-exit-done {
  transform: rotateY(180deg);
}
